option_settings:
  aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: "vocationalnyc.settings"
      PYTHONPATH: "/var/app/current:$PYTHONPATH"

  aws:elbv2:listener:80:
    DefaultProcess: http
    ListenerEnabled: 'true'
    Protocol: HTTP

  aws:elbv2:listenerrule:ws:
    PathPatterns: /ws/*
    Process: websocket
    Priority: 1

  aws:elasticbeanstalk:environment:process:http:
    Port: '80'
    Protocol: HTTP

  aws:elasticbeanstalk:environment:process:websocket:
    Port: '8000'
    Protocol: HTTP
