option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: vocationalnyc.settings
    REDIS_HOST: "vocnyc-redis-gkfpnu.serverless.use1.cache.amazonaws.com"
    REDIS_PORT: "6379"
  aws:elasticbeanstalk:container:python:
    WSGIPath: vocationalnyc.asgi:application
    