# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.idea
.idea/
.vscode/

.git
.gitignore

.venv/
venv/
env/

.env

__pycache__/
*.pyc

# Data
*.sqlite3
*.log
**/provider_certificates

logs/
backup/
.DS_Store
Thumbs.db

node_modules/

**/migrations/

db_script.sh
VocationalNYC/.coverage