{% extends "base.html" %}

{% block title %}Provider List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Training Providers</h1>
    {% for provider in all_provider %}
    <div class="provider">
        <h2>{{ provider.name }}</h2>
        <p><strong>Phone Number:</strong> {{ provider.phone_num}}</p>
        <p><strong>Address:</strong> {{ provider.address }}</p>
        {% if provider.website %}
            <p><strong>Website:</strong> <a href="{{ provider.website }}">{{ provider.website }}</a></p>
        {% endif %}
    </div>
    {% empty %}
    <p>No providers available.</p>
    {% endfor %}
</div>
{% endblock %}
