{% load static %}
<footer class="Entire-Footer">
                <div class=" Introduction content" style="display: flex; justify-content: center;">
                    <div class="Main-Footer">
                        <a href="{% url 'home' %}">
                            <img style="margin-bottom: 1rem !important;" height=40px
                            src="{% static 'images/favicon.png' %}"
                            width=40px>
                        </a>
                        <div class="Main-Footer-Content">
                            <div class="jXuJkM">

                                <!--About, Contact, and Advertise-->
                                <div class="Main-Footer-Content-Links" spacing=3>
                                    <div class="Main-Footer-Content-Link">
                                        <a class="Anchor-byh49a-0"
                                           href="#">
                                            About Us
                                        </a>
                                    </div>
                                    <div class="Main-Footer-Content-Link">
                                        <a class="Anchor-byh49a-0"
                                           href="#">
                                            Contact
                                        </a>
                                    </div>
                                    <div class="Main-Footer-Content-Link">
                                        <a class="Anchor-byh49a-0"
                                           href="#">
                                            Advertise
                                        </a>
                                    </div>
                                </div>
                                <!--Copyright-->
                                <div class="Copyright-Outer">
                                    <span class="Copyright-Inner" size=2>
                                        Copyright {% now "Y" %} © VocationalNYC
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </footer>