{% extends "base.html" %}
{% load static %}

{% block title %}Provider List{% endblock %}

{% block content %}
    <h1>Providers</h1>
    {% for provider in all_provider %}
    <div class="provider">
        <h2>{{ provider.name }}</h2>
        <p><strong>Phone Number:</strong> {{ provider.phone_num}}</a></p>
        <p><strong>Address:</strong> {{ provider.address }}</p>
        <p><strong>Website:</strong>{{ provider.website }}</p>
    </div>
    {% empty %}
    <p>No providers available.</p>
    {% endfor %}
{% endblock %}
