# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.git
.gitignore

.venv/
venv/
env/

__pycache__/
*.pyc

*.sqlite3
*.log

.vscode/
.idea/

logs/

# docker-compose.ci.yml
# docker-compose.override.yml
# docker-compose.prod.yml
# docker-compose.yml

.DS_Store
Thumbs.db

node_modules/