{% extends "base.html" %}

{% block title %}NYC Courses Map{% endblock %}

{% block content %}
    <h1>NYC Courses Map</h1>
    <div id="map" style="height: 600px; width: 100%;"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD98-tguK4_siKaGEhazxzEH6WpccCzOu0"></script>
    <script>
        function initMap() {
            var nyc = {lat: 40.7128, lng: -74.0060};  // Default center in NYC
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: nyc
            });

            const urlParams = new URLSearchParams(window.location.search);
            const courseId = urlParams.get("course_id");
            let fetchUrl = "{% url 'course_data' %}";
            if (courseId) {
            fetchUrl += `?course_id=${courseId}`;
            }

            fetch(fetchUrl)
                .then(response => response.json())
                .then(data => {
                    data.forEach(course => {
                        if (course.latitude && course.longitude) {
                            var marker = new google.maps.Marker({
                                position: {lat: course.latitude, lng: course.longitude},
                                map: map,
                                title: course.name
                            });

                            var courseDetailUrl = `/courses/${course.course_id}/`;

                            // var infowindow = new google.maps.InfoWindow({
                            //     content: `<b>${course.name}</b><br>${course.course_desc}`
                            // });

                            var infowindow = new google.maps.InfoWindow({
                                content: `<a href="${courseDetailUrl}" target="_blank" style="font-weight: bold; text-decoration: none;">${course.name}</a>`
                            });

                            marker.addListener('click', function() {
                                infowindow.open(map, marker);
                            });

                            map.setCenter({lat: course.latitude, lng: course.longitude});
                        }
                    });
                });
        }

        window.onload = initMap;
    </script>
{% endblock %}