{% extends "base.html" %}
{% load static %}
{% block title %}{{ course.name }}Course Comparison{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/course_comparison.css' %}">

    <!-- SVG Star Icon -->
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" style="position:absolute;width:0;height:0" aria-hidden="true">
        <symbol viewBox="0 0 64 64" id="star">
            <path d="M54 27.277c0-.652-.492-1.06-1.48-1.218l-13.275-1.931-5.949-12.042C32.962 11.36 32.529 11 32 11s-.962.361-1.296 1.086l-5.949 12.042-13.275 1.93c-.988.16-1.48.567-1.48 1.219 0 .37.222.793.661 1.27l9.625 9.368-2.274 13.232a4.162 4.162 0 00-.053.53c0 .37.093.683.277.939.186.255.463.384.833.384.318 0 .671-.106 1.058-.317L32 46.437l11.873 6.246c.37.21.724.317 1.058.317.353 0 .621-.13.805-.384.186-.256.279-.569.279-.94 0-.228-.01-.406-.027-.529l-2.274-13.232 9.599-9.368c.458-.46.687-.883.687-1.27"></path>
        </symbol>
    </svg>

    <div class="course-container">

{#        <h1 class="page-intro">Course Comparison</h1>#}
        <h1 class="page-intro">← Scroll horizontally to see all course details →</h1>

        <div class="course-table-wrapper">
            <table class="course-table">

                <thead>
                <tr>
                    <th class="label-cell sticky-corner">📊 Comparing {{courses.count}} Courses</th>
                    {% for course in courses %}
                        <th>
                            <div class="course-course-col">
                                <p class="vocational-course-name" style="margin-bottom: 0!important;">{{ course.name }}</p>
                                <p class="course-subtext" style="margin-bottom: 0!important;">{{ course.provider.name }}</p>
                            </div>
                        </th>
                    {% endfor %}

                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="label-cell">📍 Location</td>
                    {% for course in courses %}
                        <td>{{ course.location }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td class="label-cell">💬 Ratings & Reviews</td>
                    {% for course in courses %}
                    <td>
                        <div class="review-stars">
                            {% for i in "12345"|make_list %}
                                {% if forloop.counter <= course.rating_full_stars %}
                                <svg class="Course-Rating"
                                        fill=#a2ccb6
                                        stroke=#a2ccb6>
                                    <use xlink:href=#star></use>
                                </svg>
                                {% elif forloop.counter == course.rating_partial_star_position %}
                                <svg class="Course-Rating"
                                        fill="url(#course_rating_{{ course.pk }})"
                                        stroke=#a2ccb6>
                                    <use xlink:href=#star></use>
                                    <defs>
                                        <lineargradient
                                                id="course_rating_{{ course.pk }}"
                                                x1=0% x2=100% y1=0% y2=0%>
                                            <stop offset=0%
                                                    stop-color=#a2ccb6></stop>
                                            <stop offset={{ course.rating_partial_percentage }}%
                                                    stop-color=#a2ccb6></stop>
                                            <stop offset={{ course.rating_partial_percentage }}%
                                                    stop-color=#ffffff></stop>
                                            <stop offset=100%
                                                    stop-color=#ffffff></stop>
                                        </lineargradient>
                                    </defs>
                                </svg>
                                {% else %}
                                <svg class="Course-Rating"
                                        fill=#ffffff
                                        stroke=#a2ccb6>
                                    <use xlink:href=#star></use>
                                </svg>
                                {% endif %}
                                {% endfor %}
                            <span class="review-score">({{ course.rating }}/5)</span>
                        </div>
                        <span class="review-timestamp">{{ course.reviews_count }} reviews</span>
                    </td>
                {% endfor %}
                </tr>

                <tr>
                    <td class="label-cell">📝 Description</td>
                    {% for course in courses %}
                        <td>{{ course.course_desc }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td class="label-cell">💰 Cost</td>
                    {% for course in courses %}
                        <td>{{ course.cost }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td class="label-cell">⏱️ Total Hours</td>
                    {% for course in courses %}
                        <td>{{ course.total_hours }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td class="label-cell">📘 Classroom Hours</td>
                    {% for course in courses %}
                        <td>{{ course.classroom_hours }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td class="label-cell">🧪 Lab Hours</td>
                    {% for course in courses %}
                        <td>{{ course.lab_hours }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td class="label-cell">🏢 Internship Hours</td>
                    {% for course in courses %}
                        <td>{{ course.internship_hours }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td class="label-cell">🔧 Practical Hours</td>
                    {% for course in courses %}
                        <td>{{ course.practical_hours }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <td class="label-cell">🏷️ Keywords</td>
                    {% for course in courses %}
                        <td>{{ course.keywords }}</td>
                    {% endfor %}
                </tr>

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}