{% extends "base.html" %}
{% load static %}

{% block title %}Course List - VocationalNYC{% endblock %}

{% block extra_head %}
<style>
    .courses {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 20px;
        padding: 10px;
        width: 100%;
        margin: 0 auto;
    }

    @media (min-width: 992px) {
        .courses {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    @media (max-width: 991px) {
        .courses {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
    }    
  
    .courses a {
        text-decoration: none;
        color: inherit;
    }
</style>
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Filter</h2>
    <form method="GET" action="{% url 'search_result' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Enter keyword">
        
        <input type="number" name="min_cost" value="{{ min_cost }}" placeholder="Min cost">
        <input type="number" name="max_cost" value="{{ max_cost }}" placeholder="Max cost">
        <input type="text" name="location" value="{{ location }}" placeholder="Location">
        <input type="number" name="min_classroom_hours" value="{{ min_classroom_hours }}" placeholder="Min hours">
        
        <button type="submit">Search</button>
      </form>
  </div>

  <div class="courses">
    {% if courses %}
      {% for course in courses %}
        <a href="{% url 'course_detail' course.pk %}" style="text-decoration: none; color: inherit;">
          <div class="card">
            <h2>{{ course.name }}</h2>
            <p><strong>Provider:</strong> {{ course.provider.name }}</p>
            <p><strong>Cost:</strong> {{ course.cost }}</p>
            <p><strong>Location:</strong> {{ course.location }}</p>
            <p><strong>Keywords:</strong> {{ course.keywords|truncatewords:20 }}</p>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <p>No courses available.</p>
    {% endif %}
  </div>
{% endblock %}
