{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
<link rel="stylesheet" href="{% static 'css/course_list.css' %}">
<link rel="stylesheet" href="{% static 'css/globals.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<body style="border: 2px solid red;">

<main id=app style=display:block;width:100%;position:relative>

    <div style=width:inherit>
        <article compass="[object Object]">
            <div class="Main-Body-Area">
                <div class="Lower-Main-Body-Area">
                    <div class="Main-Area Lower-Main-Body-Area-Border Content-Container">
                        <div class="Lower-Main-Body-Area-Inner">
                            <div class="Lower-Main-Body-Area-Content">
                                <div class="content">
                                    {% block content %} {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        </div>
    </main>

</body>